*{
    margin: 0%;
}

html, body{
    height: 100%;
}

.swal-height {
    height: 80px;
}

header{
    width: 100%;
    height: 9%;
    background-color: black;
}

a span {
    background: #d0e0eb;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #000;
  }
  a:hover {
    box-shadow: 0 2px 0 #000, 0 2px 0px 2px #f03755;
  }
  a:active {
    top: 4px;
    padding-bottom: 0px;
    box-shadow: 0 1px 0 #000;
  }
  a {
    position: relative;
    float: left;
    font: normal 22px/25px "Patrick Hand", sans-serif;
    margin-right: 10px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAIABAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5NUY1OENCRDdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5NUY1OENCRTdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk1RjU4Q0JCN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk1RjU4Q0JDN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAAAQAsAAAAAAQABAAAAgYEEpdoeQUAOw==');
  }

  .padre{
    margin: auto;
    width: 100%;
    height: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Resources/2159419.jpg");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
}

.login{
    width: 40%;
    height: 500px;
    border-radius: 12px;
    background-color: hsl(93, 73%, 75%, 0.8) ;
    border: 3px black solid;
}

.parte1{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte2{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    width: 90%;
    height: 85px;
    margin: auto;
    color: white;
    font-size: 50px;
    text-align: center;
}

.titulo img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


.log{
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: 3px black solid;
    border-radius: 12px;
}

.form{
    width: 70%;
    height: 200px;
}

.form a{
    text-align: center;
    text-decoration: none;
}

.a1{
    width: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Draw';
    src: url('Resources/IndieFlower.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.login2{
    width: 50%;
    height: 500px;
    border-radius: 12px;
    background-color: hsl(93, 73%, 75%, 0.8) ;
    border: 3px black solid;
    overflow: scroll;
}

.padre ::-webkit-scrollbar{
    display: none;
}

.semana{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.none{
    width: 100%;
    height: 5%;
}

.semana table{
    width: 95%;
    height: 80%;
}

.t1{
    width: 50%;
    height: 100%;
}

.t2{
    width: 25%;
    height: 100%;
    border: 3px black solid;
    background-color: #ebf7f8;

}

.t3{
    width: 20%;
    height: 100%;
    border: 3px black solid;
    border-top-left-radius: 5px;
    background-color: #ebf7f8;

}

.opcS{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border: 3px black solid;
    border-top-left-radius: 5px;
    transition: all 0.5s;
    background-color: #ebf7f8;
}

.repor{
    margin: auto;
    width: 90%;
    height: 70%;
    overflow:scroll;
}

.repor table{
    width: 100%;
}

.repor table th{
    position: sticky;
    top: 0%;
    
}

.repor table td{
    text-align: center;
    border: 2px #000 solid;
    background-color: white;
    height: 50px;
    font-size: 20px;
    color: #000;
}

.b1{
    width: 50%;
    height: 0%;
    background-color: orange;
    box-shadow: 0 0 2px 2px black inset;
}

.b2{
    width: 25%;
    height: 10%;
    background-color: orange;
    box-shadow: 0 0 2px 2px black inset;
}

.b3{
    width: 10%;
    height: 10%;
    background-color: orange;
    box-shadow: 0 0 2px 2px black inset;
}

.b4{
    width: 10%;
    height: 10%;
    background-color: orange;
    box-shadow: 0 0 2px 2px black inset;
}
.gen{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
}
/*menu de opciones*/
.login3{
    width: 80%;
    height: 530px;
    overflow: scroll;
    /*background-color: #000;*/
}

.com{
    font-size: 30px;
    width: 25%;
    height: 30px;
    position: sticky;
    top: 0%;
    background-color: rgba(245, 234, 234);
}

.tabla1{
    margin: auto;
    width: 100%;
    position: sticky;
    top: 0%;
}

.tabla2{
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: rgba(245, 234, 234, 0.8) ;
}

.tabla1 th{
    border-right: 3px black solid;
    border-bottom: 3px black solid;
}

.tabla2 th{
    border-right: 3px black solid;
    border-bottom: 3px black solid;
}

.contenedor{
    width: 95%;
    height: 80%;
    overflow: scroll;
    border: 5px black solid;
    border-bottom: none;
    margin: auto;
}

.pl{
    margin: auto;
    border: 5px black solid;
    width: 95%;
    height: 15%;
    background-color: aliceblue;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 234, 234, 0.8) ;
}

/*.contenedor table td{
    border: 3px black solid;
}*/

.sleccion{
    background-image: url(Resources/a.png); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: center;
    background-color: gray;
    color: white;
    font-size: 20px;
    display: flex;
    margin: auto;
    height: 30px;
    width: 80%;
    border: 2px black solid;
    border-radius: 30px;
    appearance: none;
    text-align: center;
}

.sleccion::-ms-expand {
    display: none;
}


.content-select:hover i{
	margin-top: 40px;
}


.dia{
    height: 70px;
    font-size: 30px;
    width: 25%;
}

@font-face {
    font-family: 'xd';
    src: url('Resources/CHEESEB_.TTF');
}