
*{
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html, body{
    height: 100%;
}

.swal-height {
    height: 80px;
}

header{
    width: 100%;
    height: 9%;
    background-color: black;
}

header div{
    width: 10%;
    height: 100%;
}
/*header div img{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    transform: rotate(-30deg);
}*/

.padre{
    margin: auto;
    width: 100%;
    height: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Resources/2159419.jpg");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
}

a span {
    background: #d0e0eb;
    display: block;
    padding: 5px 15px;
    border-radius: 4px;
    border: 2px solid #000;
  }
  a:hover {
    box-shadow: 0 2px 0 #000, 0 2px 0px 2px #eba118;
  }
  a:active {
    top: 4px;
    padding-bottom: 0px;
    box-shadow: 0 1px 0 #000;
  }
  a {
    position: relative;
    float: left;
    font: normal 22px/25px "Patrick Hand", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 4px;
    box-shadow: 0 2px 0 #000;
    transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAIABAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5NUY1OENCRDdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5NUY1OENCRTdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk1RjU4Q0JCN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk1RjU4Q0JDN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAAAQAsAAAAAAQABAAAAgYEEpdoeQUAOw==');
  }

.inf{
    margin: auto;
    width: 23%;
    height: 40%;
    text-align: center;
    background-color: rgb(255, 191, 72);
    border: 2px black solid;
    font-weight: bold;
    font-size: 18px;
}  

.p2{
 width: 60%;
 height: 100%;
 display: flex;
 justify-content: left;
 align-items: center;
}

.inf2{
    font-size: 24px;
    width: 90%;
    height: 51%;
    text-align: center;
    border: 2px black solid;
    border-radius: 7px;
}

.divis{
    margin: auto;
    width: 100%;
    height: 20%;
    display: flex;
}


.login{
    width: 40%;
    height: 500px;
    border-radius: 12px;
    background-color: hsl(93, 73%, 75%, 0.8) ;
    border: 3px black solid;
}

.parte1{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parte3{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.parte2{
    width: 100%;
    height: 60%;
}

.parte2  a{
    text-decoration: none;
}

.titulo{
    width: 90%;
    font-weight: bold;
    height: 45px;
    margin: auto;
    color: black;
    font-size: 40px;
    text-align: center;
}


.log{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    border: 3px black solid;
}

.formI{
    width: 70%;
    height: 80px;
}

.a3{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@font-face {
    font-family: 'Draw';
    src: url('Resources/IndieFlower.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
